[submodule "lib/FreeImage"]
	path = lib/FreeImage
	url = https://github.com/WinMerge/freeimage.git
[submodule "lib/nvidia-texture-tools"]
	path = lib/nvidia-texture-tools
	url = https://github.com/akb825/nvidia-texture-tools.git
[submodule "lib/etc2comp"]
	path = lib/etc2comp
	url = https://github.com/akb825/etc2comp.git
[submodule "lib/astc-encoder"]
	path = lib/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/PVRTexToolLib"]
	path = lib/PVRTexToolLib
	url = https://github.com/akb825/PVRTexToolLib.git
