[submodule "lib/FreeImage"]
	path = lib/FreeImage
	url = https://github.com/WinMerge/freeimage.git
[submodule "lib/etc2comp"]
	path = lib/etc2comp
	url = https://github.com/akb825/etc2comp.git
[submodule "lib/astc-encoder"]
	path = lib/astc-encoder
	url = https://github.com/akb825/astc-encoder.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/PVRTexToolLib"]
	path = lib/PVRTexToolLib
	url = https://github.com/akb825/PVRTexToolLib.git
[submodule "lib/bc7enc_rdo"]
	path = lib/bc7enc_rdo
	url = https://github.com/richgel999/bc7enc_rdo.git
[submodule "lib/compressonator"]
	path = lib/compressonator
	url = https://github.com/akb825/compressonator.git
[submodule "lib/ISPCTextureCompressor"]
	path = lib/ISPCTextureCompressor
	url = https://github.com/GameTechDev/ISPCTextureCompressor.git
[submodule "lib/libsquish"]
	path = lib/libsquish
	url = https://github.com/KonajuGames/libsquish.git
